* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.category {
  height: 40px;
  line-height: 40px;
  width: 230px;
  margin-top: 2px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
}

.category .nav-ul {
  margin: 0;
  padding: 0;
}
